
@font-face {
  font-family: 'HaniArb-SemiBold';
  src: url('HaniArb-SemiBold.eot?#iefix') format('embedded-opentype'),  url('HaniArb-SemiBold.woff') format('woff'), url('HaniArb-SemiBold.ttf')  format('truetype'), url('HaniArb-SemiBold.svg#HaniArb-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
