
@font-face {
  font-family: 'HaniArb-Medium';
  src: url('HaniArb-Medium.eot?#iefix') format('embedded-opentype'),  url('HaniArb-Medium.woff') format('woff'), url('HaniArb-Medium.ttf')  format('truetype'), url('HaniArb-Medium.svg#HaniArb-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
